:root{
    --grass: #3ECD34;
    --ice: #12EAE0;
    --electric: #F7F326;
    --fire: #FF2121;
    --bug: #AEFF59;
    --water: #4088FF;
    --fairy: #FA99FF;
    --steel: #C6C6C6;
    --dark: #202020;
    --normal: #C07663 ;
    --dragon: #1700FF;
    --fight: #D34E30;
    --poison: #9B00FF;
    --ground: #B47443;
    --fly: #7FACC9;
    --psych: #FF00F0;
    --rock: #8C6C47;
    --ghost: #455F8F;
}