*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg);
}
.pokedex{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 1000px;
    background-image: url(http://gran4u.xtgem.com/Pokedex.png);
    background-size: cover;
    padding: 40px;
}
.card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 300px;
    width: 530px;
    border: solid black 10px;
    margin-left: 10px;
    background-color: red;
    margin-bottom: 2px;
}
.search{
    margin-top: 180px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.img_name_poke{
    width: 210px;
    height: 100%;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_poke{
    width: 100%;
    height: 70%;
    border: solid black;
}
.name_poke{
    width: 100%;
    height: 30%;
    border: solid black;
}
.info_poke{
    width: 310px;
    height: 100%;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.num_dex{
    width: 100%;
    height: 50px;
    border: solid black;
}
.type{
    width: 100%;
    height: 50px;
    border: solid black;
    display: flex;
    justify-content: space-around;
}
.stats{
    width: 100%;
    height: 200px;
    border: solid black;
}
h1{
    background-color: rgb(173, 168, 168);
    width: 550px;
    text-align: center;
    border: solid;
    height: 40px;
}
input{
    height: 40px;
    width: 550px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
}
.principal{
    width: 580px;
    height: 760px;
}
.list_container {
    height: 41vh;
    overflow-y: auto;
}